:root {
	--font-style: 'Courier New', Courier, monospace;

	--app-bg-color: #596363;
	--header-bg-color: #DCFDFC;
	--core-border-color: #71807f;
	--core-btn-color: #A1B5B4;
	--hl-btn-color: #CAE3E2;
	--nav-bg-color: #98B2B3;
}

.app {
	background-color: var(--app-bg-color);
	display: flex;
}

body > #root > div {
  height: 100vh;
}