.content-pane {
	background-color: var(--content-bg-color);
	font-family: var(--font-style);
	height: 100%;
	padding: 10px;
}

.content-title {
	border-bottom: 1px solid var(--core-border-color);
	width: 50%;
	margin-bottom: 5px;
}

.content-body {
	padding-top: 10px;
	border: 1px solid var(--core-border-color);
	box-shadow: 3px 3px 3px var(--core-border-color);
}

@media all and (max-width: 575px) {
	.content-pane {
		margin-top: 10px;
	}
}